@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  padding: 0 5% 0 5%;
  font-family: 'Poppins','Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
